{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <h1>Bienvenue dans l'administration</h1>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Catégories</h5>
                    <p class="card-text">Gérez les catégories de produits</p>
                    <a href="{{ path('admin') }}?crudAction=index&crudControllerFqcn=App\\Controller\\Admin\\CategoryCrudController" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Produits</h5>
                    <p class="card-text">Gérez le catalogue de produits</p>
                    <a href="{{ path('admin') }}?crudAction=index&crudControllerFqcn=App\\Controller\\Admin\\ProductCrudController" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
