{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <h1>Bienvenue dans l'administration</h1>
{% endblock %}

{% block main %}
    {% set CategoryCrudController = 'App\\Controller\\Admin\\CategoryCrudController' %}
    {% set ProductCrudController = 'App\\Controller\\Admin\\ProductCrudController' %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Catégories</h5>
                    <p class="card-text">Gérez les catégories de produits</p>
                    <a href="{{ ea_url().setController(CategoryCrudController).setAction('index') }}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Produits</h5>
                    <p class="card-text">Gérez le catalogue de produits</p>
                    <a href="{{ ea_url().setController(ProductCrudController).setAction('index') }}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
